NODE_ENV=development
PORT=8000

APP_NAME='Movies Repository'

LOGZIO_HOST=listener-uk.logz.io
LOGZIO_TOKEN=secret-logzio-token

JWT_SECRET=this-very-huge-and-super-secret-phrase-helps-you-to-save-your-account-from-hackers--LOL
JWT_EXPIRES_IN=15d